<!DOCTYPE html>
<html lang="en">
<head>
                {{>headerlinks}}
</head>
<body>
     <!-- main menu navbar -->

    {{>navbar}}

    <!-- main header  -->
    <div class="container-fuild main_header">
               <div class="row">
                        <div class="col-md-10 col-12 mx-auto">
                                <div class="row">
                                            <!-- left side div  -->
                                            <div class="col-md-6 col-12 main_header_right">

                                                <figure>
                                                    <img src="images/about.png" alt="kunal" class="img-fluid" title="kunal sharma">
                                                </figure>
      
                                              </div>

                                        <div class="col-md-6 col-12 main_header_left">
                                                <p>Welcome to the Weather app</p>
                                                <h1>I Am A <span class="h1_span">Mern Stack Developer</span> And A Freelancer</h1>
                                                <a href="/"><button>About Me</button></a>
                                        </div>
                                            <!-- right side div  -->
                         
                                </div>
                       
                         </div>
               </div>
    </div> 

    <!-- footer code -->
   {{>footer}}

</body>
</html>